<div class="container-fluid">
  <div class="row">
    <div class="col-jcp-12 main-margin">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      <!-- Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select> -->
      <span class="option">
        <label>
          <input type="radio" ng-model="orderProp" value="name">
          Relevence
        </label>
        <label>
          <input type="radio" ng-model="orderProp" value="rating">
          Popular
        </label>
        <label>
          <input type="radio" ng-model="orderProp" value="count">
          Low Price
        </label>
        <label>
          <input type="radio" ng-model="orderProp" value="price">
          High Price
        </label>
        <label>
          <input type="radio" ng-model="orderProp" value="age">
          New
        </label>
      </span>

    </div>
    <div class="col-jcp-12">
      <!--Body content-->

      <ul class="products">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="product-list">
          <div class="product">
            <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
            <a href="#/phones/{{phone.id}}" class="product--image"><img class="product-img-url" ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"></a>
            <!-- <div class="ratings-off">
              <div class="ratings-on"></div>

            </div> -->

            <!-- <div class="star-ratings-css">
              <div class="star-ratings-css-top" style="width: 84%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
              <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span><span>4.2 out of 5</span></div>
            </div> -->
            <div class="rule">
              <div class="star-ratings-sprite"><span style="width:52%" class="star-ratings-sprite-rating"></span></div>
              <span class="rating-count">({{phone.count}})</span>
            </div>

            <div class="rule">
              <h4>Rs. {{phone.price}}</h4>
              <p>EMI from Rs. {{phone.emi}}</p>
            </div>

            <div class="rule">
              <ul class="feature-list">
                <li class="feature-list-feature" ng-repeat="f in phone.features"><span>{{f}}</span></li>
              </ul>
            </div>
            <label>

            <input type="checkbox"></input> Add to compare</label>


          </div>

        </li>
      </ul>

    </div>
  </div>
</div>
